# Ignorar cambios de EOL para el archivo LogIn.jsx
pages/LogIn.jsx -text
components/Login.jsx -text
components/RecoveryEmail.jsx -text
components/VerificationCode.jsx -text
components/NewPassword.jsx -text
components/PasswordChanged.jsx -text
components/Registration.jsx -text
components/VerificationEmail.jsx -text
components/RegistrationComplete.jsx -text
components/EditInformation.jsx -text
pages/ProfileInformation.jsx -text
components/AvailabilityEspecialistinformation.jsx -text